.banner{
    height: 553px;
}
footer{
    background-color: #F3F4F5;
}
a{
    text-decoration: none;
    color: black;
}
.foot{
    margin-top: -40px;
    position: relative;
    z-index: 1;
}
.ket{
    margin-bottom: -100px;
    position: relative;
    z-index: 1;
}
svg{
    position: relative;
    z-index: 0;
}
.naik{
    margin-top: -350px;
    position: relative;
    z-index: 0;
}
